:root {
  font-family: var(--sapFontFamily, "72", "72full", Arial, Helvetica, sans-serif);
  line-height: 1.5;
  font-weight: 400;
  color: var(--sapTextColor, #32363a);
  background-color: var(--sapBackgroundColor, #f7f7f7);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
}

button {
  font-family: inherit;
}

input, select, textarea {
  font-family: inherit;
}
